.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        min-width: 60px;
        box-sizing: border-box;
        padding: 10px 16px;
        border: 2px solid #49beb7;
        border-radius: 6px;
        font-family: Overpass;
        font-size: 16px;
        color: #ffff;
        background-color: #49beb7;
        cursor: pointer;
    }

    button:hover {
        border: 2px solid #48D1CC;
        background-color: #48D1CC;
    }
}

.button-wrapper .icon {
    button {
        transition: transform 0.5s ease-out;
    }

    button:hover {
        transform: scale(1.1);
        background-color: none;
    }
}