.counter {
    justify-content: center;

    span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 34px;
        height: 34px;
        box-sizing: border-box;
        border: none;
        border-radius: 6px;
        background-color: #49beb7;
        font-size: 26px;
        line-height: 26px;
        color: #fff;
        cursor: pointer;
        img {
            width: 20px;
            height: 20px;
        }
    }

    span:hover {
        background-color: #48D1CC;
    }

    input {
        width: 50px;
        box-sizing: border-box;
        margin: 0 20px;
        padding: 0 10px;
        border: 2px solid #DCDCDC;
        border-radius: 5px;
        text-align: center;
        font-size: 18px;
        outline: none;
    }
    

}