.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border: none;
    text-align: center;
    font-family: Overpass;
    font-weight: 700;
    font-size: 20px;
    color: #696969;
}
