.header {
    margin-bottom: 60px;
    background-color: #49beb7;

    .navigation {
        display: flex;
        align-items: center;
        margin-right: 40px;
        
        &__item {
            position: relative;
            margin-left: 40px;
            padding: 14px 0;
            font-family: Overpass;
            font-size: 26px;
            cursor: pointer;
            a {
                border-bottom: 2px solid #49beb7;
                color: #ffff;
            }
            a.active {
                border-bottom: 2px solid #ffff;
            }
            a:hover {
                border-bottom: 2px solid #ffff;
            }
        }

        .submenu:hover .sub-navigation{
            display: block;
        }

        .submenu:hover {
            >a {
                border-bottom: none;
            }
        }
    }

    .sub-navigation {
        display: none;
        position: absolute;
        z-index: 20;
        top: 50px;
        left:-42px;
        box-shadow: 0 0 6px #DCDCDC;
        border-radius: 10px;
        background-color: #48D1CC;

        &__list {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 10px 0;

            li {
                margin: 0;
                padding: 8px 12px;

                a {
                    font-size: 20px;
                    border-bottom: 2px solid #48D1CC;  
                }

                a:hover {
                    border-bottom: 2px solid #ffff;
                }
            }
        }
    }

    &__content {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        font-family: Quicksand;
        color: #fff;
    }

    &__icons {
        justify-content: space-between;
        align-items: center;
        width: 120px;

        a {
            color: #ffff;
        }

        div {
            transition: transform 0.5s ease-out;
            cursor: pointer;
        }

        div:hover {
            transform: scale(1.1);
        }

    }

    &__cart-wrapper {
        position: relative;
        span {
            position: absolute;
            top: -4px;
            right: -6px;
            font-size: 12px; 
        }
    }

    &__heart {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        svg {
            width: 100%;
            height: 100%;
            fill: #FFFFFF;
        }

        span {
            position: absolute;
            top: -4px;
            right: -8px;
            font-size: 12px;
        }
    }
}